.row {
  max-width: $width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearFix;

  [class^="col-"] {
    float: left;

    @include viewport(tab-portrait) {
      width: 100% !important;

      &:not(:last-child) {
        margin-bottom: $gutter-vertical;
      }
    }

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  [class$="-sml"] {
    @include viewport(tab-landscape) {
      width: 100% !important;

      &:not(:last-child) {
        margin-bottom: $gutter-vertical-small;
      }
    }
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    width: calc(
      2 * (100% - 2 * #{$gutter-horizontal}) / 3 + #{$gutter-horizontal}
    );
  }

  .col-1-of-3-sml {
    width: calc((100% - 2 * #{$gutter-horizontal-big}) / 3);
  }

  .col-2-of-3-sml {
    width: calc(
      2 * (100% - 2 * #{$gutter-horizontal-big}) / 3 + #{$gutter-horizontal-big}
    );
  }
}

.row-space {
  &:not(:last-child) {
    margin-bottom: 0;
  }

  @include clearFix;

  [class^="col-"] {
    float: left;
  }

  [class*="-space"] {
    @include viewport(tab-landscape) {
      width: 50% !important;
    }

    @include viewport(phone) {
      width: 100% !important;
    }

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .col-1-of-3-space {
    width: calc(100% / 3);
  }

  .col-2-of-3-space {
    width: calc(2 * (100% / 3));
  }
}
