@mixin centerElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Breakpoints
//Phones == 600px
//Tablet Portrait == 900px
//Tablet Landscape == 1200px
//Big Desktop == 1800px+

@mixin viewport($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-portrait {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-landscape {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
