//Colors

$color-white: #fff;
$color-black: #1b1b1b;

$color-primary: #fd2b14;

$color-gray: #333;

$color-gray-light: #ccc;
$color-gray-lighter: #eeecf1;

//Font
$default-font-size: 1.6rem;

//Width
$width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 1rem;

$gutter-horizontal: 4rem;
$gutter-horizontal-big: 6rem;
